<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW8Nd0YTpfC0jfGvl9_l1f7Z59HOyXwPA</string>
	<key>GCM_SENDER_ID</key>
	<string>388778357826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yp10731155</string>
	<key>PROJECT_ID</key>
	<string>water-app-ffb7c</string>
	<key>STORAGE_BUCKET</key>
	<string>water-app-ffb7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388778357826:ios:0c881d88dae77ff21629db</string>
</dict>
</plist>